@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
	background-color: #363638;
	color: white;
	cursor: default;
	margin: 0;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
}

#header {
	position: fixed;
	top: 0;
	background-color:  #2d2e30;
	z-index: 5;
	width: 100%;
	padding: 5px;
}

#header > div {
	font-size: 130%;
	display: inline-block;
	margin: 0 10px;
}

#archetypes {
	text-align: right;
}

.archetype-label::after {
	content: " Archetype:";
}

#share-input {
	display: none;
}

#classes {
	position: absolute;
	right: 5px;
	top: 5px;
	bottom: 5px;
}

.choose-class {
	height: 100%;
	cursor: pointer;
}

.non-selected-class {
	opacity: 50%;
}

#tree {
	margin: 130px auto 200px auto;
	border-collapse: collapse;
}

tr {
	position: relative;
	height: 5vw;
}

.page-break::after {
	position: absolute;
	top: 0;
	left: -5%;
	width: 110%;
	height: 50%;
	border-bottom: 2px dashed grey;
	content: "";
}

td {
	padding: 0;
	width: 5vw;
	min-width: 50px;
	height: 5vw;
	min-height: 50px;
	position: relative;
}

td > img:not(.icon) {
	width: 200%;
	image-rendering: pixelated;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

td > div:not(.ability-button) {
	position: absolute;
	top: 0;
	z-index: 2;
}

td > div > img {
	width: 1vw;
	min-width: 10px;
}

.ability-button {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 2;
}

.ability-hover {
	position: absolute;
	background-color: #100110;
	z-index: 5;
	padding: 5px;
	border: 2px solid #1c0043;
}